$flur-blue: #4AF1F2
$flur-green: #39FF14
$flur-yellow: #FFF300
$white: whitesmoke
$mainY: #F0B823
$mainG: #1C5B20
$mainB: #2E5077
$olive: #868A22
$ocean: #25564C
$lightBlue: #4DA1A9
$light: #D7E8BA
$dark: #0C181D

// $bodyback: linear-gradient(to top left, rgba($mainY,1) 0%, rgba($olive,1) 10%, rgba(39,96,32,1) 35%, rgba($mainG,1) 44%, rgba(29,91,36,1) 62%, rgba($ocean,1) 80%, rgba($mainB,1) 100%)

$imgwidth: 180px

$global-font-family: 'IRANSansWeb(FaNum)_Bold'
$IranSansWeb: '/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Bold'
@font-face
    font-family: "IRANSansWeb(FaNum)_Bold"
    src: url($IranSansWeb + '/IRANSansWeb(FaNum)_Bold.woff2') format('woff2')
    src: url($IranSansWeb + '/IRANSansWeb(FaNum)_Bold.woff') format('woff')
html, body
    margin: 0
    padding: 0
    font-family: $global-font-family
    // background: $bodyback

    background: linear-gradient(270deg, $mainY, $mainG, $mainB)
    background-size: 600% 600%

    -webkit-animation: BGflow 30s ease infinite
    -moz-animation: BGflow 30s ease infinite
    animation: BGflow 30s ease infinite

@-webkit-keyframes BGflow
    0%
    background-position: 0% 50%
    50%
    background-position: 100% 50%
    100%
    background-position: 0% 50%

@-moz-keyframes BGflow
    0%
    background-position: 0% 50%
    50%
    background-position: 100% 50%
    100%
    background-position: 0% 50%

@keyframes BGflow
    0%
        background-position: 0% 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0% 50%

*
    box-sizing: border-box

.mainBlue
    color: $mainB
.mainGreen
    color: $mainG
.mainYellow
    color: $mainY
.flurBlue
    color: $flur-blue
.flurGreen
    color: $flur-green
.flurYellow
    color: $flur-yellow
.light
    color: $light
.dark
    color: $dark

svg
    width: 10em
    margin: 0
    padding: 0
    path, polygon
        fill: whitesmoke

.centr
    display: flex
    align-items: center
    justify-content: center

.container
    display: grid
    height: 100vh
    grid: minmax(auto, 7em) minmax(auto, 3em) auto .5fr / 1fr
    grid-column-gap: 0
    grid-row-gap: 0

.header
    grid-area: 1
.tel
    margin: 2em 0
    grid-area: 2
#telspan
    margin: 0
    padding: 0
    border-radius: 10px
    backdrop-filter: blur(5px)
    background-color: rgba(0,191,255, 0.075)
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px
    border: 2px rgba(255,255,255,0.2) solid
    border-bottom: 2px rgba(40,40,40,0.35) solid
    border-right: 2px rgba(40,40,40,0.35) solid
    i
        padding: 0 .5rem
#telh1
    text-shadow: 1px 1px 5px rgba($light, 0.7)
    margin: 0
    padding: 0 0 0 .5rem
.main
    grid-area: 3
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    div
        margin: 5px 3em
        display: grid
        justify-items: center
        align-content: space-between

a
    text-decoration: none
img
    max-width: $imgwidth
    height: auto
    border-radius: 50%
    border: 3px solid
    filter: grayscale(100%)
    transition: .3s
    transition-timing-function: ease
    &:hover
        cursor: pointer
        transition: .5s
        transition-timing-function: ease
        filter: grayscale(0%)
        box-shadow: 0 0 .5rem $white, inset 0 0 .5rem $white, 0 0 2rem , inset 0 0 2rem , 0 0 4rem , inset 0 0 4rem
.box
    transition: 0
    border-radius: 125px
    -webkit-border-radius: 125px
    background: #00000000
    cursor: pointer
    transition: .3s
    transition-timing-function: ease
    height: $imgwidth
    span, span h3
        position: relative
        bottom: 1em
        margin-top: -1em
        transition: .3s
        opacity: 0
    &:hover
        transition: .3s
        transition-timing-function: ease
        // باید بشه در پارامتر ضرب کرد.
        height: calc( 1.8 * 180px )
        span, span h3
            opacity: 1
.bluebox
    -webkit-box-shadow: 14px 14px 28px #31656a,-14px -14px 28px #184a20
    box-shadow: 14px 14px 28px #31656a,-14px -14px 28px #184a20
    img
        border-color: $flur-blue
        color: $flur-blue
.greenbox
    -webkit-box-shadow: 14px 14px 28px #3d7123,-14px -14px 28px #206427
    box-shadow: 14px 14px 28px #3d7123,-14px -14px 28px #206427
    img
        border-color: $flur-green
        color: $flur-green
.yellowbox
    -webkit-box-shadow: 14px 14px 28px #3e631e,-14px -14px 28px #87831f
    box-shadow: 14px 14px 28px #3e631e,-14px -14px 28px #87831f
    img
        border-color: $flur-yellow
        color: $flur-yellow

.footer
    grid-area: 4

.underconstructiondiv
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    span h1
        margin: 0
        padding: 0
        font-weight: bolder
        // text-align: center
        font-size: calc( (13.7vw + 10vh) / 2 )
#layer1
    color: rgba($white, 0.075)
    -webkit-text-fill-color: rgba($flur-green, 0.07)
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: rgba(255,255,255,0.2)
    text-shadow: 2px 1px 2px rgba(10, 10, 10, 0.2)

#layer2
    color: rgba($white, 0.075)
    -webkit-text-fill-color: rgba(white, 0.07)
    -webkit-text-stroke-width: 1px
    -webkit-text-stroke-color: rgba(255,255,255,0.2)
    text-shadow: 2px 2px 8px rgba(50,50,50,0.2)

    // backdrop-filter: blur(5px)
