@font-face {
  font-family: "IRANSansWeb(FaNum)_Bold";
  src: url("/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Bold/IRANSansWeb(FaNum)_Bold.woff2") format("woff2");
  src: url("/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Bold/IRANSansWeb(FaNum)_Bold.woff") format("woff");
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "IRANSansWeb(FaNum)_Bold";
}

* {
  box-sizing: border-box;
}

.centr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  height: 100vh;
  grid: 1fr 0.5fr auto 1fr/1fr;
  grid-template: [header-top] "h" [tel-top] "t" [main-top] "m" [footer-top] "f" [footer-bottom]/auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.header {
  background: blue;
  grid-area: h;
}

.tel {
  background: green;
  grid-area: t;
}

.main {
  grid-area: m;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: auto;
  justify-content: space-around;
}

.imgblue {
  grid-column: 1;
}

.imggreen {
  grid-column: 2;
}

.imgyellow {
  grid-column: 3;
}

.footer {
  background: cyan;
  grid-area: f;
}

img {
  max-width: 200px;
  height: auto;
}

svg {
  width: 11rem;
  margin: 0;
  padding: 0;
}
svg path, svg polygon {
  fill: white;
}