$global-font-family: 'IRANSansWeb(FaNum)_Bold'
$IranSansWeb: '/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Bold'
@font-face
    font-family: "IRANSansWeb(FaNum)_Bold"
    src: url($IranSansWeb + '/IRANSansWeb(FaNum)_Bold.woff2') format('woff2')
    src: url($IranSansWeb + '/IRANSansWeb(FaNum)_Bold.woff') format('woff')
html, body
    margin: 0
    padding: 0
    font-family: $global-font-family
    // height: 100vh
    // width: 100vw
*
    box-sizing: border-box
.centr
    display: flex
    align-items: center
    justify-content: center
    // min-width: 0
    // min-height: 0
    // overflow: hidden
.container
    display: grid
    height: 100vh
    // grid-template-columns: 1fr
    // grid: [header-start] minmax(auto, 7em) [header-end tel-start] minmax(auto, 3em) [tel-end main-start] auto [main-end footer-start] .5fr [footer-end] / 1fr
    grid: minmax(auto, 7em) minmax(auto, 3em) auto .5fr / 1fr
    grid-column-gap: 0
    grid-row-gap: 0

.header
    background: blue
    grid-area: 1
.tel
    background: green
    grid-area: 2
.main
    grid-area: 3
    // display: grid
    // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
    // justify-items: center
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    div
        margin: 5px 3em
        display: flex
        justify-content: center
        align-items: flex-start
        max-height: calc( (100vh - 10.5em) / 3)

// .imgblue
//     min-width: 300px
//      // grid-column: 1
// .imggreen
//     min-width: 300px
//     // grid-column: 2
// .imgyellow
//     min-width: 300px
//     // grid-column: 3
.footer
    background: cyan
    grid-area: 4

img
    max-width: 180px
    height: auto
svg
    width: 10em
    margin: 0
    padding: 0
    path, polygon
        fill: whitesmoke

    // @import gridcss0
