@font-face {
  font-family: "IRANSansWeb(FaNum)_Bold";
  src: url("/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Bold/IRANSansWeb(FaNum)_Bold.woff2") format("woff2");
  src: url("/fonts/IRANSansWeb(FaNum)/IRANSansWeb(FaNum)_Bold/IRANSansWeb(FaNum)_Bold.woff") format("woff");
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "IRANSansWeb(FaNum)_Bold";
  background: linear-gradient(-45deg, #f0b823 0%, #868a22 20%, #276020 45%, #1c5b20 54%, #1d5b24 62%, #25564c 80%, #2e5077 100%);
}

* {
  box-sizing: border-box;
}

.mainBlue {
  color: #2E5077;
}

.mainGreen {
  color: #1C5B20;
}

.mainYellow {
  color: #F0B823;
}

.flurBlue {
  color: #4AF1F2;
}

.flurGreen {
  color: #39FF14;
}

.flurYellow {
  color: #FFF300;
}

svg {
  width: 10em;
  margin: 0;
  padding: 0;
}
svg path, svg polygon {
  fill: whitesmoke;
}

#phoneiconspan {
  margin: 0 5px;
}
#phoneiconspan i {
  color: #0C181D;
}

.centr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  height: 100vh;
  grid: minmax(auto, 7em) minmax(auto, 3em) auto 0.5fr/1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.header {
  grid-area: 1;
}

.tel {
  grid-area: 2;
}

.main {
  grid-area: 3;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main div {
  margin: 5px 3em;
  display: grid;
  justify-items: center;
  align-content: space-between;
}

a {
  text-decoration: none;
}

img {
  max-width: 180px;
  height: auto;
  border-radius: 50%;
  border: 3px solid;
  filter: grayscale(100%);
  transition: 0.3s;
  transition-timing-function: ease;
}
img:hover {
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease;
  filter: grayscale(0%);
  box-shadow: 0 0 0.5rem whitesmoke, inset 0 0 0.5rem whitesmoke, 0 0 2rem, inset 0 0 2rem, 0 0 4rem, inset 0 0 4rem;
}

.box {
  transition: 0;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  background: #00000000;
  cursor: pointer;
  transition: 0.3s;
  transition-timing-function: ease;
  height: 180px;
}
.box span, .box span h3 {
  position: relative;
  bottom: 1em;
  margin-top: -1em;
  transition: 0.3s;
  opacity: 0;
}
.box:hover {
  transition: 0.3s;
  transition-timing-function: ease;
  height: calc( 1.8 * 180px );
}
.box:hover span, .box:hover span h3 {
  opacity: 1;
}

.bluebox {
  box-shadow: 14px 14px 28px #31656a, -14px -14px 28px #184a20;
}
.bluebox img {
  border-color: #4AF1F2;
  color: #4AF1F2;
}

.greenbox {
  box-shadow: 14px 14px 28px #3d7123, -14px -14px 28px #206427;
}
.greenbox img {
  border-color: #39FF14;
  color: #39FF14;
}

.yellowbox {
  box-shadow: 14px 14px 28px #3e631e, -14px -14px 28px #87831f;
}
.yellowbox img {
  border-color: #FFF300;
  color: #FFF300;
}

.footer {
  grid-area: 4;
}

.underconstructiondiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.underconstructiondiv span h1 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: calc( (13.7vw + 10vh) / 2 );
}

#layer1 {
  -webkit-text-fill-color: rgba(57, 255, 20, 0.07);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  text-shadow: 2px 1px 2px rgba(10, 10, 10, 0.2);
}

#layer2 {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.07);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  text-shadow: 2px 2px 8px rgba(50, 50, 50, 0.2);
}